<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Experiment Page</title>
</head>
<body>
    <div>&nbsp;</div> 
    <div id="mainDiv">
         <h1 id="mainTitle">Computational Creativity in a Low Vision World</h1>
         <ul>
             <li><a href="{{ url_for('about') }}">About</a></li>
             <li><a href="{{ url_for('experiment') }}">Experiment</a></li>
             <li><a href="{{ url_for('gallery') }}">Gallery</a></li>
             <li style="float:right"><a class="active" href="{{ url_for('contact') }}">Contact</a></li>
         </ul>
         <br><br>
         <div id="banner-sensi">
            <div class="inline-block-sensi">
                <img src="{{url_for('static', filename='images/SensiLab Logo.png')}}"/>
            </div>
            <div style="display: inline-block; margin-top : 5%;">
                <p class="contact-info" style="font-weight : bold">Stephen Krol</p>
                <p class="contact-info"> Email: Stephen.Krol@monash.edu</p>
                <p class="contact-info">Contact Number: +61 402 444 162</p>
                <div>&nbsp;</div> 
                <p class="contact-info" style="font-weight : bold">Dr Maria Teresa Llano</p>
                <p class="contact-info"> Email: Teresa.Llano@monash.edu</p>
                <div>&nbsp;</div>
                <p class="contact-info" style="font-weight : bold">Dr Cagatay Goncu</p>
                <p class="contact-info"> Email: Cagatay.Goncu@monash.edu</p>
                <div>&nbsp;</div>
                <p class="contact-info" style="font-weight : bold">Sensi Lab</p>
                <p class="contact-info"> Email: sensilab@monash.edu</p>
                <p class="contact-info">Contact Number: +61 (0) 3 9903 4889 </p>
                <p class="contact-info">Website: https://sensilab.monash.edu</p>
            </div>
         </div>
    </div>
</body>
</html>