<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/likert-scale.css') }}" -->
    <title>Questions</title>
</head>
<script>
    function goBack(){
        if("{{painting_n}}" == 0){
            window.location.href = "/experiment/demographic";
        } else {
            request = new XMLHttpRequest();
            request.open('POST', '/experiment/questions/back');

            request.onreadystatechange = function() {
            if(request.readyState == XMLHttpRequest.DONE && request.status == 200) {
                window.location.href = "/experiment/questions";
            }
        }

        request.send();
        }
    }
</script>
<body>
    <br><br>
    <div id="mainDiv">
        <h1>{{title}} - {{year}}</h1>
        <h4 style="font-style : italic;">{{artist}}</h4>
        <video class="video" controls="controls" preload="preload">
            <source src="{{ url_for('static', filename=video_name) }}" type="video/mp4"></source>
        </video>
        <p>
            {{paintingdesc}}
        </p>
    <br><br>

    <table class="table">
        <tr>
            <th>Statement</th>
            <th>Strongly Disagree</th>
            <th>Disagree</th>
            <th>Somewhat disagree</th>
            <th>Neither agree nor disagree</th>
            <th>Somewhat agree</th>
            <th>Agree</th>
            <th>Strongly Agree</th>
        </tr>
        <tr>
            <td>The music provided a pleasant experience.</td>
            <td><input type="radio" value="1", name="pleasant"></td>
            <td><input type="radio" value="2", name="pleasant"></td>
            <td><input type="radio" value="3", name="pleasant"></td>
            <td><input type="radio" value="4", name="pleasant"></td>
            <td><input type="radio" value="5", name="pleasant"></td>
            <td><input type="radio" value="6", name="pleasant"></td>
            <td><input type="radio" value="7", name="pleasant"></td>
        </tr>
        <tr>
            <td>The music was representative of the painting.</td>
            <td><input type="radio" value="1", name="representative"></td>
            <td><input type="radio" value="2", name="representative"></td>
            <td><input type="radio" value="3", name="representative"></td>
            <td><input type="radio" value="4", name="representative"></td>
            <td><input type="radio" value="5", name="representative"></td>
            <td><input type="radio" value="6", name="representative"></td>
            <td><input type="radio" value="7", name="representative"></td>
        </tr>
    </table>
    <div style="text-align : right;">
        <button type="button" class="btn btn-danger" onclick="goBack()">Back</button>
        <button type="continue" class="btn btn-secondary" onclick="save_responses()">Continue</button>
    </div>
    <br><br>
</div>

<div class="modal fade" id="questionsModal" role="dialog">
    <div class="modal-dialog">
    
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Please answer all questions</h4>
        </div>
        <div class="modal-body">
          <p>Please answer all questions to continue with the study.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
<script src="../static/js/jquery-3.2.1.slim.min.js"></script>
<script src="../static/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="../static/js/utils.js"></script>
</body>
</html>